recursive-include tf/client/static *
recursive-include tf/client/make *
recursive-include tf/convert/app *
recursive-include tf/browser/ner/static *
recursive-include tf/browser/ner/templates *
recursive-include tf/browser/static *
recursive-include tf/browser/templates *
recursive-include tf/tools/tei *
recursive-include tf/tools/trang *
recursive-include tf/tools/jing *
recursive-exclude __pycache__ *
prune */docs
