recursive-include tf/client/static *
recursive-include tf/client/make *
recursive-include tf/convert/app *
recursive-include tf/server/static *
recursive-include tf/server/templates *
recursive-include tf/tools/tei *
recursive-include tf/tools/trang *
prune */docs
