.r_.r_italic,.r_.r_italics,.r_.r_i {
  font-style: italic;
  color: #000000;
}
.r_.r_bold,.r_.r_b {
  font-weight: bold;
  color: #000000;
}
.r_.r_underline {
  text-decoration: underline;
  color: #000000;
}
.r_.r_center {
  text-align: center;
  color: #000000;
}
.r_.r_large {
  font-size: large;
  color: #000000;
}
.r_.r_spaced,.r_.r_spaced {
  letter-spacing: .2rem;
  color: #000000;
}
.r_.r_margin {
  position: relative;
  top: -0.3em;
  font-weight: bold;
  color: #0000ee;
}
.r_.r_above {
  position: relative;
  top: -0.3em;
  color: #000000;
}
.r_.r_below {
  position: relative;
  top: 0.3em;
  color: #000000;
}
.r_.r_sc {
  font-variant: small-caps;
}
.r_.r_sub {
  vertical-align: sub;
  font-size: small;
  color: #000000;
}
.r_.r_sup, .r_.r_super {
  vertical-align: super;
  font-size: small;
  color: #000000;
}
.r_ {
  color: #dd9900;
}
.is_meta {
  font-family: monospace;
  color: #008800;
}
.is_note {
  font-size: small;
  color: #dd0055;
}
