/* _v */

#kind_v {
  font-family: monospace;
  font-size: medium;
  font-weight: bold;
  color: #8888ff;
  background-color: white;
}

/* --- */

#eid_v {
  font-family: monospace;
  font-size: small;
  font-weight: normal;
  color: #448844;
  background-color: white;
}
/* _w */

span.eid_w {
  border-radius: 0.5rem;
  border: 2pt solid var(--ent-markup-color);
  background-color: white;
  padding: 0.3rem;
  margin: 0.1rem 0.5rem;
}
span.eid_w.active {
  border: 0;
  background-color: var(--ent-markup-color);
}

/* --- */

span.kind_w {
  border-radius: 0.5rem;
  border: 2pt solid var(--ent-markup-color);
  background-color: white;
  padding: 0.3rem;
  margin: 0.1rem 0.5rem;
}
span.kind_w.active {
  border: 0;
  background-color: var(--ent-markup-color);
}

/* _sel */

button.eid_sel {
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  color: var(--ent-markup-color);
  border-radius: 0.5rem;
  border: 2pt solid var(--ent-markup-color);
  background-color: white;
}
button.eid_sel[st=v] {
  color: black;
  background-color: var(--ent-markup-bg);
}

/* --- */

button.kind_sel {
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  color: var(--ent-markup-color);
  border-radius: 0.5rem;
  border: 2pt solid var(--ent-markup-color);
  background-color: white;
}
button.eid_sel[st=v] {
  color: black;
  background-color: var(--ent-markup-bg);
}
