/* OVERALL */

html {
	width: 100vw;
	height: 100vh;
}

body,td {
	font-family: sans-serif;
}
a:link, a:visited {
	text-decoration: None;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
  --ent-markup-color: #ddbb00;
  --ent-markup-bg: #ffddbb;
  --button-fg: #ffffff;
  --button-bg: #666666;
  --button-bd: #666666;
  --button-active-fg: #000000;
  --button-active-bg: #ccccff;
  --button-active-bd: #ccccff;
  --button-disabled-fg: #dddddd;
  --button-disabled-bg: #999999;
  --button-disabled-bd: #999999;
}

code {
  white-space: pre-wrap;
}

div.page {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
  max-width: 100%;
  max-height: 100%;
}

/* COLUMNS */

#col1 {
	flex: 0 0 auto;
	background-color: var(--gray-back);
	height: 99vh;
  width: 20vw;
	overflow-y: auto;
}
#col2 {
	flex: 1 0 auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	border-right: 1pt solid var(--fog-rim);
	padding-left: 4px;
	padding-right: 8px;
	height: 99vh;
  width: 20vw;
	overflow: auto;
  resize: horizontal;
	-webkit-overflow-scrolling: touch;
}
#col3 {
	flex: 10 2 50%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	border-left: 1pt solid var(--fog-rim);
	padding-left: 8px;
	padding-right: 4px;
	height: 99vh;
	width: 49vh;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
/* RIGHT-COL: TABLES */

code.w {
  white-space: pre;
}

#entitiesq {
  flex: 0 0 auto;
}

#entities {
  flex: 1 1 auto;
  overflow: auto;
}
#bucketsq {
  flex: 0 0 auto;
}

#buckets {
  flex: 2 1 auto;
  overflow: auto;
  padding-left: 2rem;
}

p.queried,span.queried,#qtextentshow {
  border-radius: 0.2rem;
  background-color: yellow;
  padding: 0 0.3rem;
}
span.found {
  background-color: #aaddff;
  border-radius: 0.2rem;
  padding: 0 0.3rem;
}

#lookupf,#lookupq,#lookupn {
  display: none;
}
#querywords {
  font-weight: bold;
}

div.viewercontrol {
  position: relative;
  left: -2rem;
  height: 0;
  overflow: visible;
}
div.b {
  padding: 0.2rem 0.1rem;
  border-bottom: 2pt solid #eeeeee;
  margin-bottom: 0.2rem;
  line-height: 150%;
  content-visible: auto;
  contain-intrinsic-size: 1rem 2rem;
}

span.ei {
  border-bottom: 0.3rem solid orange ! important;
}
span.ei.noformat {
  border-bottom: 0 ! important;
}
span.es,span.ee {
  font-family: monospace;
  font-size: x-small;
  font-weight: bold;
  color: var(--ent-markup-color);
}
span.es {
  padding-left: 0.1em;
  margin-left: 0.2em;
}
span.ee {
  padding-right: 0.1em;
  margin-right: 0.2em;
}
span.bh {
  font-family: monospace;
  font-weight: bold;
  font-size: small;
  color: #0000ee;
  text-decoration: underline;
  margin-left: -2rem;
}
.viewer {
  min-height: 5rem;
  max-height: 20rem;
  overflow: auto;
  font-size:small;
  background-color: #f2f2f2;
  padding-left: 2rem;
}
.viewer span.bh {
  color: #888888;
  text-decoration: none;
}
.center {
  background-color: #ddddff;
}
.viewer div.center span.bh
  color: #0000ff;
  text-decoration: none;
}
span.lgb,span.lge {
  font-weight: bold;
  font-size: medium;
  color: var(--ent-markup-color);
  background-color: var(--ent-markup-bg);
  border-radius: 1.5em;
  padding: 0 0.2em;
}
span.lgb {
  border-right: 0.5em solid white;
  border-left: 0.2em solid var(--ent-markup-color);
}
span.lge {
  border-left: 0.5em solid white;
  border-right: 0.2em solid var(--ent-markup-color);
}
#sfind,#efind {
  font-family: monospace;
  font-size: large;
  background-color: #aaddff;
}
.error {
  font-weight: bold;
  background-color: #ffaaaa;
}
span.stat {
  font-family: monospace;
  font-weight: bold;
  font-size: small;
  color: #aaaaff;
  background-color: white;
  padding-left: 0.5rem;
}
p.e {
  margin: 0.1rem 0;
  content-visible: auto;
  contain-intrinsic-size: 1rem 1rem;
}
.neutral {
  font-size: small;
  border: 0;
  padding: 0 0.3rem;
}
input[st=minus],span[st=minus] {
  border-color: #ffaaaa ! important;
  background-color: #ffaaaa ! important;
}
input[st=plus],span[st=plus] {
  border-color: #aaffaa ! important;
  background-color: #aaffaa ! important;
}
button.active {
  color: var(--button-active-fg);
  background-color: var(--button-active-bg);
  border: 0.1rem solid var(--button-active-bd);
}
button.disabled {
  color: var(--button-disabled-fg);
  background-color: var(--button-disabled-bg);
  border: 0.1rem solid var(--button-disabled-bd);
}
button.altv {
  color: black;
  background-color: white;
  padding: 0;
  border: 0;
}
button.altm {
  color: black;
  background-color: white;
  padding: 0.1rem 0.8rem;
  border: 0;
}
button.alt {
  color: black;
  background-color: white;
  padding: 0.1rem 0.8rem;
}
button.alt.active {
  background-color: var(--button-active-bg);
}
button.special {
  font-size: large;
  font-weight: bold;
  border-width: 0.3rem;
  padding: 0.1rem 0.8rem;
  border-radius: 0.6rem;
}
button.special.add {
  color: black;
  border-color: #00ff00;
  background-color: #aaffaa;
}
button.special.del {
  color: black;
  border-color: #ff0000;
  background-color: #ffaaaa;
}
button {
  border-radius: 0.3rem;
  color: var(--button-fg);
  background-color: var(--button-bg);
  border: 0.1rem solid var(--button-bd);
  font-size: small;
  font-weight: medium;
  margin: 0.1rem;
  padding: 0.2rem;
}
#delreport,#addreport {
  margin: 0.1rem 0.5rem;
}
.report {
  font-family: monospace;
  color: #ffddbb;
  background-color: #333333;
}
.feedback {
  padding: 0.2rem 0.1rem;
  margin: 0.1rem 0.3rem;
  background-color: #ffddaa;
  border-radius: 0.3rem;
}
span[te][st="x"]::after {
  content: "❌";
}
span[te][st="v"]::after {
  content: "✅";
}
#selectall {
}
#selectnone {
}

#decoratewidget {
  display: none;
}

#decoratewidget, #filterwidget,
#selectwidget,#delwidget,#addwidget {
  border: 0.2rem solid #e8e8e8;
  border-radius: 0.5rem;
  background-color: #eeeeee;
  padding: 0.5rem 0.2rem;
}

#selectwidget {
  display: flex;
	flex-flow: row nowrap;
	justify-content: start;
	align-items: flex-start;
	width: 100%;
}
#selectsubwidget {
  display: flex;
	flex-flow: row nowrap;
	justify-content: start;
	align-items: flex-start;
}
#findwidget,#etextwidget,.featwidget {
  border-radius: 0.5rem;
  border: 0.2rem solid #dddddd;
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem;
}
.assignwidget {
  display: flex;
	flex-flow: row wrap;
	justify-content: start;
	align-items: flex-end;
	width: 100%;
}
#modifyhead {
  display: flex;
	flex-flow: row wrap;
	justify-content: start;
}
.delfeat,.addfeat {
  display: inline-flex;
	flex-flow: column nowrap;
	justify-content: start;
  border-radius: 0.5rem;
  border: 0.2rem solid #dddddd;
  padding: 0.2rem; 0.2rem;
}
.feattitle {
  display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.modifyvalues {
  display: inline-flex;
	flex-flow: row wrap;
  padding: 0;
}
.modval {
  display: flex;
	flex-flow: column nowrap;
	justify-content: stretch;
  align-items: center;
  margin: 0 0.2rem;
}
