/* OVERALL */

body,td {
	font-family: sans-serif;
}
a:link, a:visited {
	text-decoration: None;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

/* OUTPUTS */

div.messages {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
  max-width: 45vw;
}
.eline {
	font-size: medium;
	color: var(--red-haze-fore);
	background-color: var(--red-haze-back);
}
.tline {
	font-size: large;
	font-family: monospace;
	color: var(-query-fore);
	background-color: var(--query-back);
	white-space: pre;
}

/* RIGHT-COL: TABLES */

div.table {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

div.pretty {
	width: 100%;
	margin: 4px 0 10px 0;
	background-color: var(--haze-back);
}

code.w {
  white-space: pre;
}

#query {
  height: 10rem;
  overflow: auto;
}

#sentences {
  height: calc(100vh - 12rem);
  overflow: auto;
  padding-left: 2rem;
}

p.queried,span.queried,#qWordShow>span {
  border-radius: 0.2rem;
  background-color: yellow;
  padding: 0 0.3rem;
}
span.found {
  background-color: #aaddff;
  border-radius: 0.2rem;
  padding: 0 0.3rem;
}

#queryFilter {
  display: none;
}
#queryWords {
  font-weight: bold;
}

div.s {
  padding: 0.2rem 0.1rem;
  border-bottom: 2pt solid #eeeeee;
  margin-bottom: 0.2rem;
  line-height: 150%;
}

span.ei {
  border-bottom: 0.3rem solid orange;
}
span.es,span.ee {
  font-family: monospace;
  font-size: x-small;
  font-weight: bold;
  color: #aaaaaa;
}
span.es {
  padding-left: 0.1em;
  margin-left: 0.2em;
}
span.ee {
  padding-right: 0.1em;
  margin-right: 0.2em;
}
span.sh {
  font-family: monospace;
  font-weight: bold;
  font-size: small;
  color: #bbbbbb;
  margin-left: -2rem;
}
#sFind,#eFind {
  font-family: monospace;
  font-size: large;
  background-color: #aaddff;
}
.error {
  font-weight: bold;
  background-color: #ffaaaa;
}
span.stat {
  font-family: monospace;
  font-weight: bold;
  color: #0000bb;
  border-radius: 0.2rem;
  padding: 0.4rem 0.4rem;
  border: 2pt solid #eeeeff;
}
p.e {
  margin: 0.1rem 0;
}

