/* OVERALL */

body,td {
	font-family: sans-serif;
}
a:link, a:visited {
	text-decoration: None;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
  --sent-header-height: 20rem;
  --ent-header-height: 20rem;
  --ent-markup-color: #ddbb00;
  --ent-markup-bg: #ffddbb;
}

/* COLUMNS */

#col1 {
	flex: 0 0 auto;
	background-color: var(--gray-back);
	height: 99vh;
  width: 20vw;
	overflow-y: auto;
}
#col2 {
	flex: 1 0 auto;
	border-right: 1pt solid var(--fog-rim);
	padding-left: 4px;
	padding-right: 8px;
	height: 99vh;
  width: 20vw;
	overflow: auto;
  resize: horizontal;
	-webkit-overflow-scrolling: touch;
}
#col3 {
	flex: 10 2 50%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	border-left: 1pt solid var(--fog-rim);
	padding-left: 8px;
	padding-right: 4px;
	width: 48vh;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
/* OUTPUTS */

div.messages {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
  max-width: 45vw;
}
.eline {
	font-size: medium;
	color: var(--red-haze-fore);
	background-color: var(--red-haze-back);
}
.tline {
	font-size: large;
	font-family: monospace;
	color: var(-query-fore);
	background-color: var(--query-back);
	white-space: pre;
}

/* RIGHT-COL: TABLES */

div.table {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

div.pretty {
	width: 100%;
	margin: 4px 0 10px 0;
	background-color: var(--haze-back);
}

code.w {
  white-space: pre;
}

#entitiesq {
  height: var(--ent-header-height);
  overflow: auto;
}

#entities {
  height: calc(99vh - var(--ent-header-height) - 1.5rem);
  overflow: auto;
}
#sentencesq {
  height: var(--sent-header-height);
  overflow: auto;
}

#sentences {
  height: calc(99vh - var(--sent-header-height) - 1.5rem);
  overflow: auto;
  padding-left: 2rem;
}

p.queried,span.queried,#qwordshow>span {
  border-radius: 0.2rem;
  background-color: yellow;
  padding: 0 0.3rem;
}
span.found {
  background-color: #aaddff;
  border-radius: 0.2rem;
  padding: 0 0.3rem;
}

#lookupf,#lookupq {
  display: none;
}
#querywords {
  font-weight: bold;
}

div.s {
  padding: 0.2rem 0.1rem;
  border-bottom: 2pt solid #eeeeee;
  margin-bottom: 0.2rem;
  line-height: 150%;
  content-visible: auto;
  contain-intrinsic-size: 1rem 2rem;
}

span.ei {
  border-bottom: 0.3rem solid orange ! important;
}
span.es,span.ee {
  font-family: monospace;
  font-size: x-small;
  font-weight: bold;
  color: var(--ent-markup-color);
}
span.es {
  padding-left: 0.1em;
  margin-left: 0.2em;
}
span.ee {
  padding-right: 0.1em;
  margin-right: 0.2em;
}
span.sh {
  font-family: monospace;
  font-weight: bold;
  font-size: small;
  color: #bbbbbb;
  margin-left: -2rem;
}
span.lgb,span.lge {
  font-weight: bold;
  font-size: medium;
  color: var(--ent-markup-color);
  background-color: var(--ent-markup-bg);
  border-radius: 1.5em;
  padding: 0 0.2em;
}
span.lgb {
  border-right: 0.5em solid white;
  border-left: 0.2em solid var(--ent-markup-color);
}
span.lge {
  border-left: 0.5em solid white;
  border-right: 0.2em solid var(--ent-markup-color);
}
#sfind,#efind {
  font-family: monospace;
  font-size: large;
  background-color: #aaddff;
}
.error {
  font-weight: bold;
  background-color: #ffaaaa;
}
span.stat {
  font-family: monospace;
  font-weight: bold;
  font-size: small;
  color: #0000bb;
}
p.e {
  margin: 0.1rem 0;
  content-visible: auto;
  contain-intrinsic-size: 1rem 1rem;
}
#scopefiltered.active,#scopeall.active {
  color: white;
  background-color: black;
}

button.min,button.plus {
  font-size: small;
  color: black;
  border: 0;
  padding: 0 0.3rem;
}
button.min {
  background-color: #ffaaaa;
}
button.plus {
  background-color: #aaffaa;
}

.report {
  font-family: monospace;
  color: #ffddbb;
  background-color: #333333;
}
span[st="x"]::after {
  content: "⭕️";
}
span[st="v"]::after {
  content: "🆗";
}
#selectall {
}
#selectnone {
}
