@font-face {
	font-family: "Ezra SIL";
  src: local('Ezra SIL');
	src: url('/server/static/fonts/SILEOT.eot'); /* IE9 Compat Modes */
	src: url('/server/static/fonts/SILEOT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/server/static/fonts/SILEOT.woff') format('woff'), /* Modern Browsers */
	     url('/server/static/fonts/SILEOT.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
	font-family: "SBL Hebrew";
  src: local('SBL Hebrew');
	src: url('/server/static/fonts/SBL_Hbrw.eot'); /* IE9 Compat Modes */
	src: url('/server/static/fonts/SBL_Hbrw.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/server/static/fonts/SBL_Hbrw.woff') format('woff'), /* Modern Browsers */
	     url('/server/static/fonts/SBL_Hbrw.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
	font-family: "Estrangelo Edessa";
  src: local('Estrangelo Edessa');
	src: url('/server/static/fonts/SyrCOMEdessa.otf');
	src: url('/server/static/fonts/SyrCOMEdessa.woff') format('woff');
}

@font-face {
    font-family: AmiriQuran;
    font-style: normal;
    font-weight: 400;
    src: url('/server/static/fonts/AmiriQuran.woff2') format('woff2'),
         url('/server/static/fonts/AmiriQuran.woff') format('woff'),
	       url('/server/static/fonts/AmiriQuran.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: AmiriQuranColored;
    font-style: normal;
    font-weight: 400;
    src: url('/server/static/fonts/AmiriQuranColored.woff2') format('woff2'),
         url('/server/static/fonts/AmiriQuranColored.woff') format('woff'),
	       url('/server/static/fonts/AmiriQuranColored.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
	font-family: "Santakku";
  src: local('Santakku');
	src: url('/server/static/fonts/Santakku.woff') format('woff'), /* Modern Browsers */
	     url('/server/static/fonts/Santakku.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
	font-family: "SantakkuM";
  src: local('SantakkuM');
	src: url('/server/static/fonts/SantakkuM.woff') format('woff'), /* Modern Browsers */
	     url('/server/static/fonts/SantakkuM.ttf')  format('truetype'); /* Safari, Android, iOS */
}

