body,td {
    font-family: sans-serif;
}
a:link, a:visited {
    text-decoration: None;
}

/* PAGE */

div.page {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
}
div.leftcol {
    flex: 0 0 20rem;
    border-right: 1pt solid #aaaaaa;
    padding-left: 0.2rem;
    padding-right: 0.4rem;
}
div.midcol {
    flex: 0 0 auto;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}
div.rightcol {
    flex: 10 2 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    border-left: 1pt solid #aaaaaa;
    padding-left: 0.4rem;
    padding-right: 0.2rem;
}

/* LEFT-COL */

div.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
img.hdlogo {
    flex: 0 0 auto;
    max-width: 5rem;
    height: 4rem;
}
div.hdlinks {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
}
div.hdlinks > a {
    flex: 1 1 4rem;
    background-color: #eeeeff;
    border-radius: 0.4rem;
    border: 0.1rem solid #cccccc;
    padding: 0.2rem 0.2rem;
    margin: 0.2rem 0.2rem;
    text-align: center;
    text-decoration: none;
}

textarea.tuples {
	font-size: large;
	font-family: monospace;
	width: calc(100% - 1rem);
	height: 5rem;
	margin: 0.3rem 0.3rem;
    background-color: #eeffdd;
}
textarea.template {
	font-size: large;
	font-family: monospace;
	width: calc(100% - 1rem);
	height: 20rem;
	margin: 0.3rem 0.3rem;
    background-color: #ffeedd;
}
textarea.description {
	font-size: small;
	font-family: monospace;
	width: calc(100% - 1rem);
	height: 20rem;
	margin: 0.3rem 0.3rem;
    background-color: #ffffff;
}

div.messages {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
}
div.eline {
    color: #552222;
    background-color: #ffbbbb;
}

p.buttons {
    text-align: center;
}
button {
    font-weight: bold;
    width: 90%;
    background-color: #888888;
    color: #ffffff; 
    border-color: #444444;
}
button.xl {
    font-size: large;
    padding: 0.5em;
    border-radius: 1rem;
}
button.l {
    font-size: medium;
    padding: 0.3em;
    border-radius: 0.5rem;
}

input.int {
	font-size: medium;
	font-family: monospace;
    width: 3rem;
}
input.name {
	font-size: small;
	font-family: sans-serif;
    font-weight: bold;
	width: calc(100% - 1rem);
}

div.cline {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 1rem;
    background-color: #fafafa;
}
span.cradio, input.cradio {
    flex: 0 0 2rem;
    margin-right: 0rem;
}
span.ctype {
    flex: 0 0 4rem;
    padding-right: 0.5rem;
    font-size: x-small;
    font-style: italic;
}
span.cinfo {
    flex: 0 1 auto;
    font-size: x-small;
}

/* MID-COL */

div.navigation {
    font-size: small;
}

div.pages {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
div.pline {
    display: flex;
    flex-flow: column nowrap;
}
.pnav {
    font-size: small;
    color: #6666ff;
    background-color: #eeeeff;
    border-radius: 0.4rem;
    border: 0.1rem solid #cccccc;
    padding: 0.2rem 0.2rem;
    line-height: 1.5em;
    text-decoration: none;
}
.focus {
    background-color: #ffeebb;
}

/* RIGHT-COL */

div.dtheadrow {
    font-weight: bold;
    background-color: #dddddd;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
div.dtheadrow > span {
    margin: 0.2rem;
    padding: 0 0.5rem;
    border-right: 0.2rem solid #ffffff;
}
details.dtrow {
    border: 0.1rem solid #bbbbbb;
}
details.dtrow > summary {
    background-color: #f0f0f0;
    margin: 0.2rem 0;
    padding: 0.2rem;
}
details.dtrow > summary > span {
    padding: 0 0.5rem;
    border-right: 0.2rem solid #bbbbbb;
}
div.pretty {
    width: 100%;
    margin: 0.2rem 0 0.5rem 0;
    background-color: #fafafa;
}
a.rwh {
    font-size: x-small;
    color: #333333;
}
.sq {
    font-size: small;
    color: #66aa55;
}
